.weather__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weather__list-item+.weather__list-item {
  margin-top: 15px;
}

.weather__list-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  transition: all .2s;
}

.weather__list-item-title:hover {
  color: #5c5c5c;
}

.weather__list-item-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 26px;
  width: 26px;
  }

.weather__list-item-button path {
  transition: all .2s;
}

.weather__list-item-button:hover path {
  fill: #696969;
}