.tab__button {
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  padding: 12px 0;
  border-bottom: none;
  cursor: pointer;
  transition: all .3s;
}

.tab__button:hover{
   background-color: #D4D4D4
}

.tab__button:first-child {
  border-left: none;
}

.tab__button:last-child {
  border-right: none;
}

.tab__button+.tab__button {
  border-left: none;
}

.tab__button--active {
  background-color: #000;
  color: #fff;
}

.tab__button--active:hover{
  background-color: #4A4A4A;
}